*,html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

section{
    background-color: #2d6dcd;
    background-image: url('./New_webpage_icons/custom/Component\ 5\ –\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}
.header{
    width: 90%;
    margin: auto;
    display: flex;
    padding: 0;
}
.logo{
    float: left;
    display: flex;
    /* display: inline-block; */
}
.logo-text{
    height: 13px;
    margin-top: 23px;
}

nav{
    
    margin-left: auto;
}
nav ul {
    margin-top: 10px;
    /* margin: 0;
    padding: 0; */
  }
.nav-li{
    float: left;
    list-style: none;
    margin-left: 20px;
}
.navbar-toggler{
    font-size: 25px;
    color: white;
}

.navbar-toggler:focus{
    box-shadow: none;
}
.download-icon{
    margin-left: 40px;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: white;
}
.pro-pic{
    width: 35px;
}
.nav-drop{
    margin-left: 2px;
    cursor: pointer;
}
/* headings */
.titles{
    margin: 50px auto ;
    text-align: center;
    color: white;
    line-height: 1rem;
}
.titles p{
    font-size: 1.5em;
}
.titles span{
    font-size: .7em;
}
.begin-form{
    margin-top: 50px;
}
.begin-form form{
    /* text-align: center; */
    display: flex;
    align-self: center;
    justify-content: center;
}
.begin-form input{
    height: 40px;
    width: 300px;
    margin-right: 10px;
    border-radius: 0;
}
.begin-form button {
    background-color: #54B97B;
    color: white;
}

/* table */
.table-content{
    width: 70%;
    margin: -110px auto 0 auto;
    position: relative;
    box-shadow: 0px 1.5px 0px 0.5px rgba(45,109,205,0.7);
}
.table-content button {
    background-color: #F2F9F5;
    color: #8ACEA4;
}
.neg{
    color: red;
}
/* table{
    height: auto;
} */
.m-t-h{
    background-color: #D6E4FE;
    color: #2d6dcd;
}
.table-responsive{
    overflow-x: auto;
    overflow-y: hidden;
}
table tbody{
    color: #99A3B7;
}
tbody img{
    margin-right: 6px;
}
.more-arrow{
    position: absolute;
    bottom: -15px;
    left: 50%;
    transition: 250ms;
}
.more-arrow:hover{
    cursor: pointer;
    transform: scale(1.1);
}


main{
    position: relative;
    margin-top: 80px;
    height: 700px;
    overflow-x: hidden;
}

.first-circle{
    position: absolute;
    left: -70px;
    top: 0;
}
.second-circle{
position: absolute;
right: -50px;
bottom: 100px;
}

.main-body{
    width: 85%;
    margin: 100px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.main-body-text p{
    font-size: 2rem;
    font-weight: 700;
    color: #816565;
    line-height: 1.2em;
}
.main-body-text span{
    font-size: 1em;
    color: #816565;
    line-height: 1.2em;
}
.main-body-text button{
    background-color: #2d6dcd;
    padding: 10px 20px;
    color: white;
    font-size: 1.3em;
    margin-top: 25px;    
}
.portfolio{
    background-color: #2d6dcd;
    padding:100px 0;
    transform: skew(0deg, -10deg);
}
.portfolio-body{
    transform: skew(0deg, 10deg);
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
}
.portfolio-text{
    color: white;
    font-size: 1.2em;
}
.portfolio-text li{
    list-style: none;
    position: relative;
    padding: 3px;
}
.portfolio-text li::before {
    content: "•";
    position: absolute;
    top: 0;
    margin-top: -30px;
    color: white;
    display: flex;
     font-size: 60px;
    margin-left: -.7em
}
.portfolio-text p{
    font-size: 1.8em;
    margin-bottom: 20px;
}
.portfolio-text ul p{
    font-size: 1.2em;
}
.portfolio-text li span{
    font-size: 1em;
    margin-top: -10px;
    margin-bottom: 20px;
}
.exchange{
    position: relative;
}
.exchange h2{
    color: #656464;
    margin-bottom: 100px;
    font-weight: 700;
}
.fourth-circle{
    position: absolute;
    bottom: -270px;
    right: 50px;
}
.exchange-body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.exchange-body-text{
    text-align: right;
    margin-left: 50px;
}
.exchange-body-text p{
    font-size: 1.7em;
    font-weight: 700;
    color: #656464;
}
.exchange-body-text span{
    color: #C5C5C5;
}

.begin{
    background-color: #2d6dcd;
    margin-top: 180px;
    /* height: 500px; */
    padding: 6em 0;
    position: relative;
}
.begin h1{
    color: white;
}
.begin-body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    /* padding: 0 6em; */
    /* background-color: teal; */
}
.begin-body-img p{
    color: white;
    text-align: center;
    font-size: 1.2em;
}
.begin-body-img-middle{
    position: relative;
}
.begin-body-img-middle::before{
    content: '';
    display: block;
    width: 180px;
    background: white;
    height: 5px;
    position: absolute;
    top: 50%;
    left: -100%;
    z-index: 1;
}
.begin-body-img-middle::after{
    content: '';
    display: block;
    width: 180px;
    background: white;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: 1;
}
.begin-body-img span{
    background-color: #2d6dcd;
}
.referral{
    margin-top: 50px;
    margin-bottom: 50px;
}
.referral-body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-body{
    margin-top: 100px;
    padding: 90px 10px;
    background-color: #F4F8FF;
    display: flex;
    justify-content: space-evenly;
}
.footer-foot{
    width: 100%;
    text-align: center;
    background-color: #2d6dcd;
    color: #dfe9f8;
    font-size: 1.2em;
    padding: 10px;
}
.logos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.socialmedia-icons{
    margin-top: 18px;

}
.socialmedia-icons a{
    margin-left: 20px;
}
.product,.company,.learn {
    line-height: 1rem;
}
.product h5,.company h5,.learn h5{
    color: #5C5B5B;
    margin-bottom: 20px;
    font-weight: 700;
}
.product a,.company a,.learn a{
    text-decoration: none;
    color: #666566;
    font-size: 1.2em;
    font-weight: 600;
}

/* media query */

@media only screen and (max-width:1000px){
    .header{
        width: 100%;
        /* margin: 0; */
    }
    .download-icon{
        margin-left: 20px;
    }
    .bell{
        display: none;
    }
        .begin-body{
            justify-content: space-between;
            padding: 0;
        }
        .begin-body-img-middle::before{
            width: 60px;
            /* top: 50%; */
            left: -30%;
        }
        .begin-body-img-middle::after{
            width: 70px;
            left: 90%;

        }
        .begin-body{
            flex-direction: column;
        }
        .begin-body-img-middle::before{
            
         width: 40px;
                background: white;
                height: 5px;
                position: absolute;
                top: 0;
                left: 70px;
                transform: rotate(90deg);
                }
                
                .begin-body-img-middle::after{
                    content: '';
                    display: block;
                    width: 40px;
                    background: white;
                    height: 5px;
                    position: absolute;
                    transform: rotate(90deg);

                    top: 100%;
                    left: 70px;
                    /* bottom: 0; */
                    z-index: 1;
                } 
}



@media only screen and (max-width:800px){
    .header{
        width: 100%;
        margin: 0;
    }
    .table-content{
        width: 100%;
    }
    .social-icons{
        display: flex;
        flex-wrap: wrap;
    }
    .portfolio{
        margin-top: 100px;
        /* padding-top: 100px; */
        /* padding: 7em 0; */
    }
    .portfolio-text p{
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    .portfolio-text ul p{
        font-size: 1em;
    }
    .portfolio-text li span{
        font-size: .8em;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .product h5,.company h5,.learn h5{
        font-size: 1em;
        font-weight: 600;
    }
    .product a,.company a,.learn a{
        text-decoration: none;
        color: #666566;
        font-size: .8em;
        font-weight: 600;
    }
    .main-body{
        flex-direction: column;
        width: 95%;
        margin-top: 0;
        /* margin-bottom: 100px; */
        overflow: hidden;
    }
    .main-body-text{
        margin-bottom: 50px;
    }
    .second-circle{
        bottom: 0px;
        right: -70px;
    }
    /* .third-circle{
        position: absolute;
        top: 0;
    } */
    .exchange{
        margin-top: -60px;
    }
    .exchange h2{
        margin: 20px ;
    }
    .exchange-body{
        flex-direction: column;
    }
    .exchange-body-text{
        text-align: center;
    }
    .begin-body{
        justify-content: space-between;
        padding: 0;
    }
    .referral-body{
        flex-direction: column;
    }
    .main-body-text{
        text-align: center;
        margin-top: 30px;
    }
    
}

@media only screen and (max-width:600px){
    .table-content{
        width: 100%;
    }
    .card{
        width: 100%;
    }
    tbody{
        width: 100%;
    }
    table{
        width: 100%;
    }
    .mob{
        display: none;
    }
}
@media only screen and (max-width:400px){
    .table-content{
        width: 100%;
    }
    .card{
        width: 100%;
    }
}